body {
    margin: 0px;
    background-color: #1D1E28;
    background-image: url(./images/bg-stars.svg);
    font-family: 'Red Hat Text', sans-serif;
}

header {
    height: 20vh;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.header-title {
    color: white;
    font-size: 22px;
    display: grid;
    justify-content: center;
    letter-spacing: 7.5px;
    margin-top: 15vh;
}

main {
    height: 60vh;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    color: white;
    /* border: 1px solid white; */
}

/* IE and EDGE */
progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: #343650;
    color: rgb(7, 10, 10);
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
    background-color: #343650;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #FB5E84;
    border-radius: 5px;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
    background-color: #FB5E84;
    border-radius: 5px;
}

.second-progress {
    display: grid;
    grid-column: span 4;
}

.timer-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    /* border: 1px white solid; */
    width: 688px;
    margin-top: 100px;
    height: 250px;
}

.days-box {
    width: 148px;
    height: 184px;
}

.timer-box::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 80px;
    width: 100%;
    background-color: #191A23;
}

.timer-box {
    position: relative;
    background-color: #191a23;
    border-radius: 10px;
    height: 150px;
    width: 148px;
}

.timer-display::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: -5px;
    height: 10px;
    width: 10px;
    background-color: #191A23;
}

.timer-display::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    right: -5px;
    height: 10px;
    width: 10px;
    background-color: #191a23;
}


.timer-display {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 140px;
    background-color: #343650;
    border-radius: 10px;
}

.timer-number {
    font-size: 80px;
    color: #FB5E84
}

.timer-label {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 6px;
    margin-top: 10px;
    color: #8385A9;
}

footer {
    width: 100%;
    height: 20vh;
    background-image: url(./images/pattern-hills.svg);
}

@media (max-width: 475px) {

    .header-title {
        font-size: 18px;
        letter-spacing: 6.14px;
    }

    .timer-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        /* border: 1px white solid; */
        width: 327px;
        margin-top: 50px;
        height: 125px;
    }

    progress {
        /* RESETS */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
    
        width: 100%;
        height: 7px;
        border-radius: 5px;
        background-color: #343650;
        color: rgb(7, 10, 10);
    }
    
    .days-box {
        width: 70px;
        height: 97px;
    }     

    .timer-box {
        position: relative;
        background-color: #191a23;
        border-radius: 10px;
        height: 71px;
        width: 70px;
    }

    .timer-box::after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: 35px;
        width: 100%;
        background-color: #191A23;
    }

    .timer-display {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 71px;
        background-color: #343650;
        border-radius: 10px;
    }

    .timer-display::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        left: -3px;
        height: 6px;
        width: 6px;
        background-color: #191A23;
    }

    .timer-display::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        right: -3px;
        height: 6px;
        width: 6px;
        background-color: #191a23;
    }

    .timer-number {
        font-size: 36px;
        color: #FB5E84
    }

    .timer-label {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        font-size: 7px;
        letter-spacing: 2.97px;
        margin-top: 5px;
        color: #8385A9;
    }
    
}