body {
    margin: 0px;
    background-color: #191A23;
    background-image: url(./images/bg-stars.svg);
    font-family: 'Red Hat Text', sans-serif;
}

header {
    height: 20vh;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.header-title {
    width: 440px;
    height: 29;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 22px;
    display: grid;
    justify-content: center;
    letter-spacing: 7.5px;
    margin-top: 135px;
}

main {
    height: 60vh;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    color: white;
    /* border: 1px solid white; */
}

/* IE and EDGE */
progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: #343650;
    color: rgb(7, 10, 10);
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
    background-color: #343650;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #FB5E84;
    border-radius: 5px;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
    background-color: #FB5E84;
    border-radius: 5px;
}

.second-progress {
    display: grid;
    grid-column: span 4;
}

.timer-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    /* border: 1px white solid; */
    width: 688px;
    margin-top: 100px;
    height: 250px;
}

.days-box {
    width: 148px;
    height: 184px;
}

.timer-box {
    background-color: #191A23;
    height: 150px;
    width: 148px;
}

.timer-display {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 140px;
    background-color: #343650;
    border-radius: 10px;
}

.timer-number {
    font-size: 80px;
    color: #FB5E84
}

.timer-label {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 6px;
    color: #8385A9;
}

footer {
    width: 100%;
    height: 20vh;
    background-image: url(./images/pattern-hills.svg);
}